html {
    display: flex;
    flex-direction: column;
    height:100vh;
     margin: 0;
}
.contenido {
    background-color: black;
    display: flex;
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
}


